{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block body %}
    <div class="main-events">
        <div class="top-part-events">
            <div class="search-header">
                Check out the upcoming events by fellow students, committees or communities!
            </div>
            <div class="search-subheader">
                If you wanna create your own events, check the bottom of the page!
            </div>
        </div>
        <div class="middle-part-events"> <!--Flex box standing-->
            <div class="all-events-container"> <!--Flex box sideways-->
                <div class="events-container"> <!--Each event container-->
                    <div class="event-name"> 
                        Mumbai MUN
                    </div>
                    <div class="event-author">
                        Organizer: MUNSociety MPSTME
                    </div>
                    <div class="event-poster">
                        <img class="event-poster-image" src="/static/mumbaimunlogo.jpg">
                    </div>
                    <div class="event-days-left">
                        8th November, 2024
                    </div>
                    <div class="event-location">
                        Location: Main Auditorium
                    </div>
                    <a target="_blank" href="https://mumbaimun.com/">
                        <div class="event-link">
                            Mumbai Mun Website
                        </div>
                    </a>
                </div>
                <div class="events-container"> <!--Each event container-->
                    <div class="event-name"> 
                        Social Conclave
                    </div>
                    <div class="event-author">
                        Organizer: Social Impact MPSTME
                    </div>
                    <div class="event-poster">
                        <img class="event-poster-image" src="/static/socialconclavelogo.png">
                    </div>
                    <div class="event-days-left">
                        20th December, 2024
                    </div>
                    <div class="event-location">
                        Location: Glass Building, NMIMS
                    </div>
                    <a target="_blank" href="https://www.socialconclave.in/">
                        <div class="event-link">
                            Social Conclave Website
                        </div>
                    </a>
                </div>
                <div class="events-container"> <!--Each event container-->
                    <div class="event-name"> 
                        Taqneeq 16.0
                    </div>
                    <div class="event-author">
                        Organizer: Tech and Research Cell
                    </div>
                    <div class="event-poster">
                        <img class="event-poster-image" src="/static/taqneeqlogo.jpg">
                    </div>
                    <div class="event-days-left">
                        13th January, 2024
                    </div>
                    <div class="event-location">
                        Location: Canopy area, MPSTME
                    </div>
                    <a target="_blank" href="https://taqneeqfest.com/home">
                        <div class="event-link">
                            Taqneeq Website
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}