{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block body %}
    <div class="main-events">
        <div class="top-part-events">
            <div class="search-header">
                Check out the upcoming events by fellow students, committees or communities!
            </div>
            <div class="search-subheader">
                If you wanna create your own events, check the bottom of the page!
            </div>
        </div>
        <div class="middle-part-events"> <!--Flex box standing-->
            <div class="all-events-container"> <!--Flex box sideways-->
                <div class="events-container"> <!--Each event container-->
                    <div class="event-name"> 
                        Mumbai MUN
                    </div>
                    <div class="event-author">
                        Organizer: MUNSociety MPSTME
                    </div>
                    <div class="event-poster">
                        <img class="event-poster-image" id="event-1" src="/static/mumbaimunlogo.jpg">
                    </div>
                    <div class="event-days-left">
                        8th November, 2024
                    </div>
                    <div class="event-location">
                        Location: Main Auditorium, MPSTME
                    </div>
                    <div class="event-link">
                        <a target="_blank" href="https://mumbaimun.com/">
                            Mumbai Mun Website
                        </a>
                    </div>
                </div>
                <div class="events-container"> <!--Each event container-->
                    <div class="event-name"> 
                        Social Conclave
                    </div>
                    <div class="event-author">
                        Organizer: Social Impact MPSTME
                    </div>
                    <div class="event-poster">
                        <img class="event-poster-image" id="event-2" src="/static/socialconclavelogo.png">
                    </div>
                    <div class="event-days-left">
                        20th December, 2024
                    </div>
                    <div class="event-location">
                        Location: Glass Building, NMIMS
                    </div>
                    <div class="event-link">
                        <a target="_blank" href="https://www.socialconclave.in/">
                            Social Conclave Website
                        </a>
                    </div>
                </div>
                <div class="events-container"> <!--Each event container-->
                    <div class="event-name"> 
                        Taqneeq 16.0
                    </div>
                    <div class="event-author">
                        Organizer: Tech and Research Cell
                    </div>
                    <div class="event-poster">
                        <img class="event-poster-image" id="event-3" src="/static/taqneeqlogo.jpg">
                    </div>
                    <div class="event-days-left">
                        13th January, 2025
                    </div>
                    <div class="event-location">
                        Location: Canopy area, MPSTME
                    </div>
                    <div class="event-link">
                        <a target="_blank" href="https://taqneeqfest.com/">
                            Taqneeq Website
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-part-events">
            <div class="events-title-stuff">
                <div class="events-header">
                    Create your own event! 
                </div>
                <div class="events-subheader">
                    Here you can request approval to create events for yourself or for an organization.
                    You will receive a mail after your event has been approved, and it will
                    be displayed on the events page of MPSTME Connect.
                    Be careful though, you can only request to create an event once in every 5 minutes!
                </div>
            </div>
            <form class="events-request-container" action="/events" method="POST">
                <div class="events-request-info">
                    <input class="events-input-box" type="text" name="name" placeholder="Name">
                    <input class="events-input-box" type="email" name="university_email" placeholder="University Email">
                </div>
                <div class="events-request-message">
                    <textarea class="events-textarea" name="description" placeholder="Enter a message, giving a description of the event"></textarea>
                </div>
                <div class="events-request-info">
                    <input class="events-input-box" type="text" name="organizer_name" placeholder="Enter the organizer's name">
                    <input class="events-input-box" type="text" name="website_link" placeholder="Website link or an instagram link">
                </div>
                <div class="events-request-date">
                    <label for="event_date">Date of the event:</label>
                    <input class="events-date-selector" type="date" name="event_date">
                    <input class="location-events-input-box" type="text" name="location" placeholder="Location of the event">
                </div>
                <button type="submit" id="events-submit-button">Request approval</button>
            </form>
        </div>
    </div>
{% endblock %}