{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block body %}
    <div class="main-events">
        <div class="top-part-index">
            <div class="search-header">
                Welcome to <span class="index-mpstme">MPSTME</span>'s own platform to connect students!
            </div>
            <div class="search-subheader">
                You can find people to work with based on skills, interests, and more! (Or just say hi to a stranger)
            </div>
        </div>
        <div class="middle-part-index">
            <div class="double-container-index">
                <div class="description-index">
                    Here you can request approval to create events for yourself or for an organization.
                    After approval, you will receive a mail that your event has been approved, and it will
                    be displayed on the events page of MPSTME Connect.
                    Be careful though, you can only request to create an event once in every 5 minutes!
                </div>
                <div class="picture-index-container">
                    <img class="picture-index" src="/static/profilepage-index.png">
                </div>
            </div>
        </div>
    </div>
{% endblock %}