<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/favicon.jpg" rel="icon">
        <link href="/static/styles.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <script src="/static/script.js"></script>
        <title>MPSTME Connect {% block title %}{% endblock %}</title>
    </head>
    <body>
        <header>
            <div class="left-part">
                <a href="/">
                    <img id="logo" src="/static/logo-light.svg" class="navimage">
                </a>
            </div>
            <div class="right-part">
                {% if session["user_id"] %}
                    <div class="navbar-tabs"><a href="/search">Search</a></div>
                    <div class="navbar-tabs"><a href="/events">Events</a></div>
                    <div class="navbar-tabs"><a href="/profile">Profile</a></div>
                    <div class="navbar-tabs"><a href="/logout">Log out</a></div>
                    <div class="navbar-tabs"><img id="toggle-button" src="/static/moontheme.png"></div>
                {% else %}
                    {% if session["verification_code"] %}
                        {% if session["valid"] %}
                            <div class="navbar-tabs"><a href="/signup">Create your account</a></div>
                            <div class="navbar-tabs"><a href="/register">Register</a></div>
                            <div class="navbar-tabs"><a href="/login">Log in</a></div>
                            <div class="navbar-tabs"><img id="toggle-button" src="/static/moontheme.png"></div>
                        {% else %}
                            <div class="navbar-tabs"><a href="/verify">Retry verification</a></div>
                            <div class="navbar-tabs"><a href="/register">Register</a></div>
                            <div class="navbar-tabs"><a href="/login">Log in</a></div>
                            <div class="navbar-tabs"><img id="toggle-button" src="/static/moontheme.png"></div>
                        {% endif %}
                    {% else %}
                        <div class="navbar-tabs"><a href="/register">Register</a></div>
                        <div class="navbar-tabs"><a href="/login">Log in</a></div>
                        <div class="navbar-tabs"><img id="toggle-button" src="/static/moontheme.png"></div>
                    {% endif %}
                {% endif %}
            </div>
            <img src="/static/hamburger-dark.png" id="hamburger-icon">
            <div class="mobile-menu">
                <div class="close-button-main">
                    <img src="/static/crossbutton-dark.png" id="close-button">
                </div>
                {% if session["user_id"] %}
                    <a href="/search">Search</a>
                    <a href="/events">Events</a>
                    <a href="/profile">Profile</a>
                    <a href="/logout">Log out</a>
                {% else %}
                    {% if session["verification_code"] %}
                        {% if session["valid"] %}
                            <a href="/signup">Create your account</a>
                            <a href="/register">Register</a>
                            <a href="/login">Log in</a>
                        {% else %}
                            <a href="/verify">Retry verification</a>
                            <a href="/register">Register</a>
                            <a href="/login">Log in</a>
                        {% endif %}
                    {% else %}
                        <a href="/register">Register</a>
                        <a href="/login">Log in</a>
                    {% endif %}
                {% endif %}
                <div class="theme-toggle">
                    <img id="mobile-toggle-button" src="/static/moontheme.png">
                </div>
            </div>
        </header>
        {% block body %}{% endblock %}
    </body>
</html>