{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block body %}
<main class="box-main">
    <div class="primary-container-login primary-container">
        <div class="header-font" id="login-header">MPSTME Connect Login</div>
        <div class="subheader-font" id="login-subheader">Welcome back!</div>
        <form action="/login" method="post">
            <input name="email" class="input-box" placeholder="University Email" type="email" autofocus>
            <input name="password" class="input-box" placeholder="Password" type="password" autocomplete="off" autofocus>
            <button class="submit-button" type="submit" value="login">Log In</button>
        </form>
        <div id="dont-have-account">Dont have an account? <a href="/register"><span id="sign-up">Sign up</span></a></div>
    </div>
</main>
{% endblock %}