{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block body %}
<main class="box-main">
    <div class="primary-container-login primary-container primary-container-register">
        <div class="header-font" id="register-header">Register for MPSTME Connect!</div>
        <div class="subheader-font" id="register-subheader">Connect and collaborate on projects, hackathons and more!
        </div>
        <form action="/register" method="post">
            <input name="email" class="input-box" placeholder="University Email" type="email" autofocus>
            <button class="submit-button" type="submit" value="signup">Send verification code</button>
        </form>
    </div>
</main>
{% endblock %}