{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block body %}
    <div class="main-search">
        <div class="top-part-search">
            <div class="search-header">
                Find other like minded people, 
            </div>
            <div class="search-subheader">
                or just look for a collaborator who might have a skill you need!
            </div>
            <div class="overall-search-container">
                <input type="search" placeholder='Try searching for a "Python Programmer"' class="search-inputbox">
                <div class="search-icon-container">
                    <img src="/static/search-icon.png" class="search-icon">
                </div>
                <div class="filter-icon-container">
                    <button class="filter-button">
                        <div class="filter-text">Skills</div> <!-- default is skills -->
                        <img src="/static/filter-icon.png" class="filter-icon">
                    </button>
                    <div class="filter-dropdown">
                        <select class="filter-select" size="5">
                            <option class="filter-option" value="name">Name</option>
                            <option class="filter-option" value="bio">Bio</option>
                            <option class="filter-option" selected value="skills" selected>Skills</option>
                            <option class="filter-option" value="interest">Interest</option>
                            <option class="filter-option" value="soft-skills">Soft Skills</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="middle-part-search">
            <div class="profile-preview">
                <div class="left-profile-preview">
                    <div class="profile-preview-pic-container">
                        <img src="/static/black-white-logo.png" class="profile-preview-pic">
                    </div>
                </div>
                <div class="right-profile-preview">
                    <div class="search-name">
                        Samar Kamat
                    </div>
                    <!-- if by skills, description by skills, if by interests, interests and so on-->
                    <div class="search-head">
                        Skills
                    </div>
                    <div class="search-description">
                        As far as web dev is concerned, can work with html, css and flask. 
                        I'm good at football and also have a decent amount of research skills.
                    </div>
                </div>
            </div>
            <div class="profile-preview">
                <div class="left-profile-preview">
                    <div class="profile-preview-pic-container">
                        <img src="/static/black-white-logo.png" class="profile-preview-pic">
                    </div>
                </div>
                <div class="right-profile-preview">
                    <div class="search-name">
                        Moksh Jain
                    </div>
                    <!-- if by skills, description by skills, if by interests, interests and so on-->
                    <div class="search-head">
                        Skills
                    </div>
                    <div class="search-description">
                        I'm good with html, css and javasript. I have a few projects for the same,
                        check them out on my profile page! I am good at baking, and am interested to learn more!
                    </div>
                </div>
            </div>
            <div class="profile-preview">
                <div class="left-profile-preview">
                    <div class="profile-preview-pic-container">
                        <img src="/static/black-white-logo.png" class="profile-preview-pic">
                    </div>
                </div>
                <div class="right-profile-preview">
                    <div class="search-name">
                        Shlok Doshi
                    </div>
                    <!-- if by skills, description by skills, if by interests, interests and so on-->
                    <div class="search-head">
                        Skills
                    </div>
                    <div class="search-description">
                        I have good marketing and public relations skills, and am a head in Enactus for the same!
                        I also am decent at coding, with python being my most comfortable language.
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}