{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block body %}
    <div class="main-search">
        <div class="top-part-search">
            <div class="search-header">
                Find other like minded people, 
            </div>
            <div class="search-subheader">
                or just look for a collaborator who might have a skill you need!
            </div>
            <div class="overall-search-container">
                <input type="search" placeholder='Try searching for a "Python Programmer"' class="search-inputbox">
                <div class="search-icon-container">
                    <img src="/static/search-icon.png" class="search-icon">
                </div>
                <div class="filter-icon-container">
                    <button class="filter-button">
                        <div class="filter-text">Filter</div> <!-- default is skills -->
                        <img src="/static/filter-icon.png" class="filter-icon">
                    </button>
                    <div class="filter-dropdown">
                        <form method="get" action="/search">
                            <select name="filter" id="filter" class="filter-select" size="5">
                                {% for option in options %} <!-- options is a list -->
                                    <option class="filter-option" value="{{ option }}">{{ option }}</option>
                                {% endfor %}
                            </select>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% for user in users %} <!-- users should be a list of dictionaries, while user is a dictionary -->
            <div class="middle-part-search">
                <div class="profile-preview">
                    <div class="left-profile-preview">
                        <div class="profile-preview-pic-container">
                            <img src="{{ user.profile_picture or '/static/black-white-logo.png' }}" class="profile-preview-pic">
                        </div>
                    </div>
                    <div class="right-profile-preview">
                        <div class="search-name">
                            <!-- if by skills, description by skills, if by interests, interests and so on-->
                            {{ user.first }} {{ user.last }}
                        </div>
                        <!-- if by skills, description by skills, if by interests, interests and so on-->
                        <div class="search-head">
                            {{ user.option }}
                        </div>
                        <div class="search-description">
                            {{ user.description }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}