{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block body %}
    <div class="main-search">
        <div class="top-part-search">
            <div class="search-header">
                Find other like minded people, 
            </div>
            <div class="search-subheader">
                or just look for a collaborator who might have a skill you need!
            </div>
            <div class="overall-search-container">
                <input type="search" placeholder='Try searching for a "Python Programmer"' class="search-inputbox">
                <div class="search-icon-container">
                    <img src="/static/search-icon.png" class="search-icon">
                </div>
                <div class="filter-icon-container">
                    <div class="filter-text">Filter</div>
                    <img src="/static/filter-icon.png" class="filter-icon">
                </div>
            </div>
        </div>
        <div class="middle-part-search">
            hi
        </div>
    </div>
{% endblock %}