{% extends "layout.html" %}

{% block title %}
    Sign up
{% endblock %}

{% block body %}
<main class="box-main">
    <div class="primary-container-login primary-container primary-container-register">
        <div class="header-font" id="register-header">Create an account</div>
        <div class="subheader-font" id="register-subheader">You're almost there!</div>
        <form action="/signup" method="post">
            <input name="email" class="input-box" placeholder="University Email" type="email" autofocus>
            <input name="password" class="input-box" placeholder="Password" type="password" autocomplete="off" autofocus>
            <input name="confirmedpassword" class="input-box" placeholder="Confirm Password" type="password" autocomplete="off" autofocus>
            <button class="submit-button" type="submit" value="signup">Sign up</button>
        </form>
    </div>
</main>
{% endblock %}