{% extends "layout.html" %}

{% block title %}
    Sign up
{% endblock %}

{% block body %}
<main class="box-main">
    <div class="primary-container-login primary-container primary-container-register">
        <div class="header-font" id="register-header"><img src="/static/logo.svg" class="navimage"></div>
        <div class="subheader-font" id="register-subheader">Enter the verification code sent on your university email</div>
        <form action="/verify" method="post">
            <input name="verification" class="input-box" placeholder="Verification Code" type="password" autocomplete="off" autofocus>
            <button class="submit-button" type="submit" value="signup">Verify</button>
        </form>
    </div>
</main>
{% endblock %}